Click==7.0
Flask==1.1.1
git+https://github.com/mitsuhiko/flask-oauth#egg=Flask-OAuth
gunicorn==19.9.0
httplib2==0.13.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
oauth2==1.9.0.post1
python-dotenv==0.10.3
redis==3.2.1
Werkzeug==0.15.5
